{% extends 'base.html.twig' %}
  
{% block title %}Song index{% endblock %}
  
{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Songs Manager</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-primary" href="{{ path('app_song_new') }}"> 
                    Create New song
                </a>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <tr>
                        <th>Name</th>
                        <th>Artist</th>
                       
                        <th width="240px">Action</th>
                    </tr>
                    {% for song in songs %}
                    <tr>
                        <td>{{ song.name }}</td>
                        <td>{{ song.artist }}</td>
                        
                        <td>
                            <form method="post" action="{{ path('app_song_delete', {'id': song.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                <a
                                    class="btn btn-outline-info"
                                    href="{{ path('app_song_show', {'id': song.id}) }}">
                                    Show
                                </a>
                                <a
                                    class="btn btn-outline-success"
                                    href="{{ path('app_song_edit', {'id': song.id}) }}">
                                    Edit
                                </a>
  
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ song.id) }}">
                                <button class="btn btn-outline-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
  
{% endblock %}